<!DOCTYPE html>
<html>
    <head>    
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
        <style>

        .background {
            background-color: white;
        }

        .text_style {
            color: black;
            font-size: 26px
        }
        </style>
    </head>
<body class="background" >
<center>
    <div class="text_style">
        <p> Hello {{user_email}}</p>
        <p> Relayed Response: {{text}} </p>
    </div>
</center>
</body>
</html>